#deleteButton {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	cursor: pointer;
}

#addButton {
	cursor: pointer;
}

.optionsHeader {
	margin: auto;
	text-align: center;
}

.urlTableHeader {
	margin-top: 20px;
	width: 100%;
}

#endpointsTable {
	width: 100%;
	display: table;
}


.urlTable {
	width: 100%;
}

h2, h3 {
	text-align: center;
}
