html {
	padding: 0px;
	margin: 0px;
}

body {
	height: 100%;
	width: 380px;
	padding-bottom: 0px;
	background-color: #EDF0F2;
	margin: 0px;
}

/* remove gap between table columns */
table {
	border-collapse: collapse;
	margin: 8px 0px 0px 0px;
  width: 96%;
}

/* column for Amplitude icon */
#amplitudeIcon {
  padding: 2px 0px 0px 2px;
}

/* line below heading */
th {
	border-bottom: 2px solid black;
  font-family: RobotoRegular;
  font-size: 12pt;
  padding: 0px 0px 0px 0px;
}

.localTime, .subject {
  font-family: RobotoRegular;
  font-size: 12px;
}

.header {
  width: 100%;
  height: 45px;
  background-color: #3381a9;
  box-shadow: 0 2px 15px -8px black;
}

.footer {
  width: 100%;
  height: 40px;
  margin: 5px auto auto auto;
}

/* button style */
.clearBtn {
	background-color: #F5826B;		/* salmon */
	border-radius: 4px;
	color: white;
	font-weight: bold;
  box-shadow: 0 2px 10px -8px black;
	transition-duration: 0.15s;
	border: 0px;
	margin: auto;
  display: block;
  text-align: center;
  font-family: RobotoRegular;
  font-size: 11pt;
  padding: 7.5px 12.5px 7.5px 12.5px; /* top right bottom left */
}

.clearBtn:hover {
	outline: 0;
	border-radius: 4px;
	cursor: pointer;
	background-color: #E36C54; 		/* dark salmon */
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.2);
}

/* heading */
#popupTitle {
    margin: auto;
    padding: 8px 0px 8px 0px;
    width: 100%;
    color: white;
    font-family: RobotoRegular;
    text-align: center;
}

#tableDiv {
    overflow-x: auto;
    overflow-y: auto;
    max-width: 100%;
    height: 100%;
    min-height: 150px;
    white-space: nowrap;
    padding-left: 12px;
}

#AmplitudeCol {
	width: 24px;
}
#TimeCol {
	width: 56px;
}
#EventCol {
	width: 200px;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoThin';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}
